// Variables
$niner_green_darker: #004525;
$niner_gold_darker: #706642;
$niner_gold: #B3A369;
$white: #FFFFFF;

// Theming
.block-connect2 {
  .connect2-facilities {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;

    &:nth-of-type(2n+1) {
      background: #F9F9F9;
    }

    // Even rows
    &:nth-of-type(2n) {
      background: $white;
    }

    h3 {
      flex: 1 0 100%;
      text-align: center;
      padding: 2rem;
      color: $niner_green_darker;
    }

    .connect2-locations {
      flex: 0 0 50%;
      padding: 2rem;
      margin-bottom: 1rem;

      .connect2-progress .progress-bar {
        background-color: $niner_gold;
      }

      .connect2-meta {
        display: flex;
        font-size: 1.3rem;

        >div {
          flex: 1 0 50%;

          &.connect2-count {
            text-align: right;
          }
        }
      }
    }
  }
}
