.block-connect2 .connect2-facilities {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.block-connect2 .connect2-facilities:nth-of-type(2n+1) {
  background: #F9F9F9;
}

.block-connect2 .connect2-facilities:nth-of-type(2n) {
  background: #FFFFFF;
}

.block-connect2 .connect2-facilities h3 {
  -webkit-box-flex: 1;
          flex: 1 0 100%;
  text-align: center;
  padding: 2rem;
  color: #004525;
}

.block-connect2 .connect2-facilities .connect2-locations {
  -webkit-box-flex: 0;
          flex: 0 0 50%;
  padding: 2rem;
  margin-bottom: 1rem;
}

.block-connect2 .connect2-facilities .connect2-locations .connect2-progress .progress-bar {
  background-color: #B3A369;
}

.block-connect2 .connect2-facilities .connect2-locations .connect2-meta {
  display: -webkit-box;
  display: flex;
  font-size: 1.3rem;
}

.block-connect2 .connect2-facilities .connect2-locations .connect2-meta > div {
  -webkit-box-flex: 1;
          flex: 1 0 50%;
}

.block-connect2 .connect2-facilities .connect2-locations .connect2-meta > div.connect2-count {
  text-align: right;
}
