{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'block',
    'block-connect2' ~ configuration.provider|clean_class,
  ]
%}
{{ attach_library('connect2/connect2_facility_count') }}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% for facility,locations in connect2.facility_counts %}
      <div{{ content_attributes.addClass('content connect2-facilities') }}>
        <h3 class="connect2-facility">{{ facility }}</h3>
        {% for location,info in locations %}
          <div class="connect2-locations">
            <h4 class="connect2-location">
              {{ location }}
            </h4>
            <div class="progress connect2-progress">
              <div class="progress-bar" role="progressbar" style="width: {{ info.percentage }}%" aria-valuenow="{{ info.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="connect2-meta">
              <div class="connect2-update">
                {% if info.closed %}
                  (Closed)
                {% else %}
                  {% if info.updated | date('U') > "now"|date_modify("-1 hour")|date('U') %}
                    Updated less than an hour ago
                  {% else %}
                    Updated over an hour ago
                  {% endif %}
                {% endif %}
              </div>
              <div class="connect2-count">
                {{ info.count }} / {{ info.capacity }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  {% endblock %}
</div>
